node_modules
TekTrakker-v2/updates.json
scratch/
TekTrakker-v2/scratch/
*.png
*.txt
*.cjs
*.js
!*.config.js
!*.config.cjs
!TekTrakker-v2/src/**/*.js
!TekTrakker-v2/src/**/*.jsx
!TekTrakker-v2/functions/index.js
!tektrakker-marketing/**/*.js
!tektrakker-marketing/**/*.ts
!package.json
!tsconfig.json
!firebase.json
!metadata.json

