# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log
firebase-debug.*.log

# Node & Build Environments
node_modules/
dist/
dist-ssr/
build/
coverage/
.nyc_output/
.parcel-cache/
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Local / Env Files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and temporary files
.eslintcache
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Service Account Keys & Secrets
serviceAccountKey.json
*-key.json
*.pem

# Deployment
.firebase/
.vercel/
.vercel_build_output/
firebase-export-*/
